
/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Estilos del encabezado */
header {
    background-color: rgb(128, 125, 125);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between; /* Alineación a ambos lados */
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    flex: 1; /* Título ocupa el espacio restante */
}

.header-nav {
    display: flex;
    gap: 20px; /* Espaciado entre los enlaces */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* Estilos del cuerpo principal */
main {
    padding: 50px 0;
    background-color: #f9f9f9;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modulo2-button {
    background-color: white;
    color: black;
    border: 2px solid black;
}


/* Estilos del perfil */
.perfil {
    text-align: center;
    margin-top: 20px;
}

.perfil-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#usuario-nombre {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}
.header-title a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: black; /* Ajusta el color según sea necesario */
}

.header-title a h1 {
    margin: 0;
    font-size: 24px; /* Asegúrate de que el tamaño del texto sea el deseado */
}
