
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 12px;
}
    
.div1 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div3 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 5;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 5;
}

.div5 {
    grid-column: span 6 / span 6;
    grid-column-start: 1;
    grid-row-start: 4;
}
        